* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #BF5700;
  font-family: Helvetica, Arial, sans-serif;
}

.hr {
  flex-direction: column;
  height: 55px;
  width: 1px;
  background-color: #ffff;
  margin-left: 30px;
  margin-right: 30px;
}

a:link {
  text-decoration: none;
  color: #ffff;
  /*text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);*/
}

a:visited{
  color: #ffff;
  /*text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);*/
}

a:hover {
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
  text-decoration: underline;
}

header {
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  top: 0;
}

header h1 {
  padding-top: 5px;
  font-weight: bold;
  margin: 0;
  font-size: 36px;
  color: #ffff;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-size: 1.55vw;
}

/* Main Image Styling start */

.responsive {
  width: 100%;
  height: auto;
  margin: 0;
}

/* Main Image Styling end */

/* Summary Styling start */

summary {
  margin-top: 15px;
}

.about-me-img img{
  width: 350px;
  height: 325px;
  margin-top: 15px;
}

.card {
  color: #ffff;
  border-radius: 15px;
  text-align: left;
}

.card p {
  font-size: 18px;
  text-indent: 50px;
  padding: 15px;
}


.work1 {
  margin: 0 auto;
  width: 86%;
  margin-top: 15px;
}

.work1 img {
  max-height: 440px;
  margin: 0 auto;
}

.work1 p {
  position: relative;
  bottom: 30px;
  margin-left: 10px;
  padding 5px;
  color: #ffff;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  width: 350px;
  margin: 0 auto;
}

.flex-row2 {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 93%;
  margin: 0 auto;
}

.center {
  text-align: center;
  font-size: 36px;
  font-family: Helvetica, Arial, sans-serif;
  color: #ffff;
}
  
.card h3 {
  text-align: center;
  text-decoration: underline;
}

.card h4 {
  text-align: center;
}

.my-work img {
  width: 460px;
  height: 460px;
}

.flex-row2 p {
  position: relative;
  bottom: 450px;
  margin-left: 10px;
  padding 5px;
  color: #000;
}

#contact-me div {
margin-top: 15px;
font-size: 24px;
text-align: center;
margin-bottom: 50px;
}

@media screen and (max-width: 700px) {
  header h1 {
    font-weight: bold;
    margin: 0 auto;
    font-size: 36px;
    color: #ffff;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }

  .hr {
    display: none;
  }

  header nav ul li a {
    padding: 5px 10px;
    font-size: 20px;
  }

  .card p {
    font-size: 12px;
    text-indent: 50px;
    padding: 40px;
  }

  .flex-row2 p {
    position: relative;
    bottom: 300px;
    margin-left: 10px;
    padding 5px;
    color: #000;
  }

  .my-work img {
    width: 300px;
    height: 300px;
  }
  
  .about-me-img img{
    width: 250px;
    height: 225px;
    margin-top: 15px;
    margin-left: 55px;
   }
}
  
}